@model SecuredPersistence.Models.CustomPrincipalModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginRouteForm("Default", new { action = "Register", controller = "Account" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Register as user with permissions</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                @foreach (var item in ViewBag.Permissions)
                {
                <div class="checkbox col-md-10" >
                    <label>
                        <input type="checkbox"
                               name="Permissions"
                               value="@item.Value" /> @item.Text
                    </label>
                </div>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>